<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="trade-core-logs" 
           fileName="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'!='Development':/home/Aster/logs/businesscall:else=${basedir}/logs}/log-tradecore-${level}-${shortdate}.log"
           layout="${longdate} ${event-properties:item=EventId_Id} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="admin-invoker-logs" 
            fileName="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'!='Development':/home/Aster/logs/businesscall:else=${basedir}/logs}/log-admin-${level}-${shortdate}.log"
            layout="${longdate} ${event-properties:item=EventId_Id} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="agent-invoker-logs" 
            fileName="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'!='Development':/home/Aster/logs/businesscall:else=${basedir}/logs}/log-agent-${level}-${shortdate}.log"
            layout="${longdate} ${event-properties:item=EventId_Id} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="user-invoker-logs" 
            fileName="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'!='Development':/home/Aster/logs/businesscall:else=${basedir}/logs}/log-user-${level}-${shortdate}.log"
            layout="${longdate} ${event-properties:item=EventId_Id} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="quotation-invoker-logs" 
            fileName="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'!='Development':/home/Aster/logs/businesscall:else=${basedir}/logs}/log-quotation-${level}-${shortdate}.log"
            layout="${longdate} ${event-properties:item=EventId_Id} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="invoker-time-logs" 
            fileName="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'!='Development':/home/Aster/logs/businesscall:else=${basedir}/logs}/log-invoker-time-${level}-${shortdate}.log"
            layout="${longdate} ${event-properties:item=EventId_Id} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="hangfire-logs" 
            fileName="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'!='Development':/home/Aster/logs/businesscall:else=${basedir}/logs}/log-hangfire-${level}-${shortdate}.log"
            layout="${longdate} ${event-properties:item=EventId_Id} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="ownFile-web" 
            fileName="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'!='Development':/home/Aster/logs/businesscall:else=${basedir}/logs}/log-${level}-${shortdate}.log"
            layout="${longdate} ${event-properties:item=EventId_Id} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring} url: ${aspnet-request-url} action: ${aspnet-mvc-action}" />
  </targets>

  <rules>
    <!--框架代码不显示Info及以下级别的日志-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="System.*" maxLevel="Info" final="true" />

    <logger name="Aster.Invoker.Services.Impl.TradeCoreInvoker" maxLevel="Info" final="true"/>
    <logger name="Aster.Invoker.Services.Impl.QuotaionInvoker" maxLevel="Info" final="true"/>
    <logger name="Aster.Invoker.Services.Impl.UserInvoker" maxLevel="Info" final="true"/>
    <logger name="Aster.Invoker.Services.Impl.AdminInvoker" maxLevel="Info" final="true"/>
    <logger name="Aster.Invoker.Services.Impl.AgentInvoker" maxLevel="Info" final="true"/>
    <logger name="Aster.Invoker.MessageHandlers.LoggingHttpMessageHandler" maxLevel="Info" final="true"/>
    <logger name="Aster.Kafka.*" maxLevel="Info" final="true"/>
    
    <logger name="Hangfire.*" maxLevel="Info" final="true"/>
    <logger name="Hangfire.*" minLevel="Error" writeTo="hangfire-logs" final="true"/>
    <logger name="*" minlevel="Info" writeTo="ownFile-web" />
  </rules>
</nlog>