<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!--write logs to file-->
    <target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log"
          layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="request-log-logs"
        fileName="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'!='Development':/home/logs/Aster:else=${basedir}/logs}/user-action-${shortdate}.log"  maxArchiveFiles="15"
        layout="${longdate} ${aspnet-item:variable=CorrelationId} ${message}" />

    <target xsi:type="File" name="ownFile-web"
            fileName="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'!='Development':/home/logs/Aster:else=${basedir}/logs}/log-${level}-${shortdate}.log"
            layout="${longdate} ${event-properties:item=EventId_Id} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring} url: ${aspnet-request-url} action: ${aspnet-mvc-action}" />
  </targets>

  <rules>
    <!--框架代码不显示Info及以下级别的日志-->
    <rules>
      <!--All logs, including from Microsoft-->
      <logger name="*" minlevel="Trace" writeTo="allfile" />
      <logger name="Aster_base.Middlerwares.ApiRequestLogMiddlerware" minlevel="Info" writeTo="request-log-logs" final="true" />
      <!--Skip Microsoft logs and so log only own logs-->
      <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
      <logger name="*" minlevel="Trace" writeTo="ownFile-web" />

    </rules>

  </rules>
</nlog>